<footer class="container-fluid bg-dark text-white">
  <div>
    <footer class="container-fluid bg-dark text-white">
      <div class="row justify-content-center align-items-center py-4">
        <div class="col-12 col-md-4">
          <h5>Support</h5>
          <ul class="footer-links">
            <li><a href="/help-center" class="text-white">Help Centre</a></li>
            <li><a href="/aircover" class="text-white">AirCover</a></li>
            <li>
              <a href="/disability-support" class="text-white"
                >Disability support</a
              >
            </li>
            <li>
              <a href="/cancellation-options" class="text-white"
                >Cancellation options</a
              >
            </li>
            <li>
              <a href="/report-neighbourhood-concern" class="text-white"
                >Report neighbourhood concern</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <h5>Hosting</h5>
          <ul class="footer-links">
            <li>
              <a href="/aircover-for-hosts" class="text-white"
                >AirCover for Hosts</a
              >
            </li>
            <li>
              <a href="/hosting-resources" class="text-white"
                >Hosting resources</a
              >
            </li>
            <li>
              <a href="/community-forum" class="text-white">Community forum</a>
            </li>
            <li>
              <a href="/hosting-responsibly" class="text-white"
                >Hosting responsibly</a
              >
            </li>
            <li>
              <a href="/join-a-free-hosting-class" class="text-white"
                >Join a free Hosting class</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <h5>WanderLust</h5>
          <ul class="footer-links">
            <li><a href="/newsroom" class="text-white">Newsroom</a></li>
            <li><a href="/new-features" class="text-white">New features</a></li>
            <li><a href="/careers" class="text-white">Careers</a></li>
            <li><a href="/investors" class="text-white">Investors</a></li>
            <li>
              <a href="/airbnb-org-emergency-stays" class="text-white"
                >emergency stays</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <hr />
  <div class="row justify-content-center align-items-center py-4">
    <div class="col-auto">
      <div class="row">
        <a href="#" class="col-auto text-white">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-instagram-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-twitter-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>
    <div class="col-auto text-center text-md-left">
      &copy; WanderLust Private Limited
    </div>
    <div class="col-auto">
      <div class="row footer-links">
        <a href="/privacy" class="col-auto text-white">Privacy</a>
        <a href="/terms" class="col-auto text-white">Terms</a>
      </div>
    </div>
  </div>
</footer>
